NeonHell/ProjectNeon/Library
NeonHell/ProjectNeon/obj
NeonHell/ProjectNeon/ProjectSettings/EditorSettings.asset
NeonHell/ProjectNeon/Prototype_Data
NeonHell/ProjectNeon/*.sln
NeonHell/ProjectNeon/*.userprefs
NeonHell/ProjectNeon/*.csproj
NeonHell/ProjectNeon/Temp
NeonHell/ProjectNeon/testBuild_Data
NeonHell/ProjectNeon/testBuild.exe
*.pdb
NeonHell/ProjectNeon/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
NeonHell/ProjectNeon/obj/Debug/Assembly-CSharp.dll
NeonHell/ProjectNeon/testBuild.zip
NeonHell/ProjectNeon/ProjectNeon.v12.suo